@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
         background-color: black;
         width: 100%;
         position: fixed;
         z-index: 999;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px 90px;
}

.logo{
        text-decoration: none;
        color: red;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
}

.navigation a{
               color: red;
               text-decoration: none;
               font-size: 1.1em;
               font-weight: 500;
               padding-left: 30px;
}

.navigation a:hover{
                      color: royalblue;
}

section {
         padding: 100px 90px;
}

.words{
        margin-top: 180px;
}

.main{
       
       width: 100%;
       min-height: 100vh;
       display: flex;
       background: url(images/back.png) no-repeat;
       background-color: black;
       background-size: contain;
       background-position: center;
       background-attachment: fixed;
}

.main h2{
           color: white;
           font-size: 1.4em;
           font-weight: 700;
}

.main h2 span{
                display: inline-block;
                margin-top: 10px;
                color: white;
                font-size: 2em;
                font-weight: 600;
}

.main h3{
           color: white;
           font-size: 1.1em;
           font-weight: 700;
}

.main-btn{
           color: black;
           background-color: red;
           text-decoration: none;
           font-size: 1.1em;
           font-weight: 600;
           display: inline-block;
           padding: 0.9375em 2.187em;
           letter-spacing: 1px;
           border-radius: 15px;
           margin-top: 10px;
           margin-bottom: 10px;
           transition: 0.5s ease;

}

.main-btn:hover{
                  background-color: black;
                  color: red;
                  transform: scale(1.1);
}

.social-icons a{
                 color: white;
                 font-size: 1.7em;
                 padding-right: 40px;
                 transition: 0.5s ease;


}

.social-icons a:hover{
                        color: red;
                        transform: scale(1.1);
}

.title{
        display: flex;
        justify-content: center;
        color: black;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;
}

.content{
          display: flex;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
}

.card{
       background-color: white;
       width: 21.25em;
       box-shadow: 0 5px 25px rgba(1 1 1 / 80%);
       border-radius: 10px;
       padding: 25px;
       margin: 15px;
       transition: 0.5s ease;

}

.card:hover{
             transform: scale(1.1);
}

.icon{
       color: red;
       font-size: 8em;
       text-align: center;
}

.info{
       text-align: center;
}

.info h3{
          color: red;
          font-size: 1.2em;
          font-weight: 700;
          margin: 10px;
}

.products{
           background-color: black;
}

.products .content{
                    margin-top:30px;
}

.product-card{
                background-color: rgb(255, 0, 0);
                border: 1px solid white;
                min-height: 14em;
                width: 23em;
                overflow: hidden;
                border-radius: 10px;
                margin: 10px;
                transition: 0.5s ease;
}

.product-card:hover{
                     transform: scale(1.1);
}

.product-card:hover{
    opacity: 0.9;
}

.product-image img{
                    width: 100%;
}

.product-info{
               padding: 1em;
               color: black;
}

.product-category{
                    font-size: 0.8em;
                    color: rgb(0, 0, 0);
}

.product-title{
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                font-weight: 800;
                margin-top: 10px;
                color: rgb(0, 0, 0);
}


.contact .card{
       background-color: rgb(0, 0, 0);
       border: 1px solid white;
       min-height: 14em;
       width: 23em;
       overflow: hidden;
       border-radius: 10px;
       margin: 10px;
       transition: 0.5s ease;
} 

.contact .info h3{
                   color: red; 

}

.contact .info p{
                  font-size: 1.5em; 
                  color: white; 
}

.footer{
         background-color: black;
         color: white;
         padding: 2em;
         display: flex;
         justify-content: space-between;
}

.footer-title{
                font-size: 1.3em;
                font-weight: 600;
}

.footer-title span{
                    color: red;
}


.footer .social-icons a{
                         color: red;
                         padding: 0 12px 0 0;
}


@media (max-width:1023px){
                            header{
                                    padding: 12px 10px;
                                  }

                                  .navigation a{
                                                padding-left: 5px;
                                                font-size: 0.9em;
                                  }

                                  .title{
                                    font-size: 1.8em;
                                  }
                                  
                                  

}